*{
    margin:0;
    padding: 0px;
    box-sizing: border-box; 

}
body {
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 5px;
    background-color: white;
}
main{
    border:1px solid black;
    display: grid;
    grid-template-areas: 
        "h"
        "n"
        "a"
        "f";
}
header, article, footer, section{
    padding: 10px;
    border: 1px solid black;
    margin: 5px;
}

header{
    grid-area: h;
}
article{
    grid-area: a;
}
nav{
    grid-area: n;
}
footer{
    grid-area: f;
}
nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
    list-style-type: none;
    text-align: left;
}
nav li{
    border: 1px solid black;
    padding: 5px;
}
nav a:hover{
    background-color: rgb(236, 68, 68);
    color: white;
}
nav a{
    text-decoration: none;
    color: red;
    padding: 5px;
}
article img{
    width: 100% ;
    text-align: center;
}
.sokkep{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.kep{
    border: 1px solid black;
    padding: 3px;
}

@media only screen and (max-width: 700px) {
    body, main {
      width: 100%;
    }
    main{
        font-size: 18px;
        grid-template-columns:1fr;
        grid-template-areas: 
                "h"
                "n"
                "a"
                "f";
    }
    nav ul{
        grid-template-columns: 1fr;
        gap: 5px;
        width: 100%;
    }
    
    .sokkep{
        display: grid;
        grid-template-columns: 1fr;
    }
  }
  @media only screen and (max-width: 400px) {
    body, main {
      width: 100%;
    }
    main{
        font-size: 18px;
        grid-template-columns:1fr;
        grid-template-areas: 
                "h"
                "n"
                "a"
                "f";
    }
    nav ul{
        grid-template-columns: 1fr;
        gap: 5px;
        width: 100%;
    }
    
    .sokkep{
        display: grid;
        grid-template-columns: 1fr;
    }
  }
  